<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @costumes.each do |costume| %>
    <div class="col">
      <div class="card h-100 rounded-4">
        <div class="image-container">
          <% if costume.photos.present? %>
            <%= cl_image_tag costume.photos.first.key, class: "card-img-top", style: "height: 400px; width: 100%; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'https://via.placeholder.com/400x300', class: "card-img-top", style: "height: 400px; width: 100%; object-fit: cover;" %>
          <% end %>
          <span class="position-absolute top-0 end-0 badge rounded-pill text-bg-secondary fw-medium bg-white text-dark m-3 p-3 fs-5">
            <%= costume.price_per_day %>€/Day
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= link_to costume.name, costume_path(costume), style: "color: black; text-decoration: none;"%></h5>
          <p class="card-text"><%= costume.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">
            <span class="bg-success-subtle p-1 rounded-4"><%= costume.category %></span>
            <span class="bg-success-subtle p-1 rounded-4"><%= costume.size %></span>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>

