<div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-xs-1">
  <% @costumes.each do |costume| %>
    <div class="col mb-3">
      <%= link_to costume_path(costume), class: "text-decoration-none text-dark" do %><!-- This makes the entire card clickable, there is an end ot the loop at the bottom -->
        <div class="card h-100 rounded-4">
          <div class="image-container">
            <% if costume.photos.present? %>
              <%= cl_image_tag costume.photos.first.key, class: "card-img-top", style: "height: 400px; width: 100%; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'https://via.placeholder.com/400x300', class: "card-img-top", style: "height: 400px; width: 100%; object-fit: cover;" %>
            <% end %>
            <span class="position-absolute top-0 end-0 badge rounded-pill text-bg-secondary fw-medium bg-white text-dark m-3 p-3 fs-5">
              <%= costume.price_per_day %>€/Day
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold"><%= costume.name %></h5>
            <p class="card-text"><%= costume.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">
              <span class="bg-success-subtle p-1 rounded-4"><%= costume.category %></span>
              <span class="bg-success-subtle p-1 rounded-4"><%= costume.size %></span>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
