<div>
  <%= form_with url: costumes_path, method: :get, local: true, data: { action: 'input->search#search' } do %>
    <div class="row my-5">
      <div class="col">
        <div class="search-bar-container">
          <div class="search-field">
            <%= text_field_tag :name, params[:name], placeholder: "Key Words", class: "form-control", data: { target: 'search.name' } %>
          </div>
          <div class="search-field">
            <%= select_tag :category, options_for_select([["View All", "all"]] + Costume.distinct.pluck(:category), params[:category]), prompt: "Costume Category", class: "form-control", data: { target: 'search.category' } %>
          </div>
          <div class="search-field">
            <%= select_tag :size, options_for_select([["View All", "all"]] + Costume.distinct.pluck(:size), params[:size]), prompt: "Size", class: "form-control", data: { target: 'search.size' } %>
          </div>
          <div class="search-field">
            <%= date_field_tag :available_date, params[:available_date], placeholder: "Available Date", class: "form-control", data: { target: 'search.availableDate' } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

