<div>
  <%= form_with url: costumes_path, method: :get, local: true, data: { action: 'input->search#search' } do %>
    <div class="row my-5">
      <div class="col">
        <div class="search-bar-container">
          <div class="search-field">
            <%= text_field_tag :name, params[:name], placeholder: "Key Words", class: "form-control", data: { target: 'search.name' } %>
          </div>
          <div class="search-field">
            <%= select_tag :category, options_for_select(Costume.distinct.pluck(:category), params[:category]), prompt: "Costume Category", class: "form-control", data: { target: 'search.category' } %>
          </div>
          <div class="search-field">
            <%= select_tag :size, options_for_select(Costume.distinct.pluck(:size), params[:size]), prompt: "Size", class: "form-control", data: { target: 'search.size' } %>
          </div>
          <div class="search-field">
              <div data-controller="datepicker">
              <%= hidden_field_tag :start_date, @start_date, data: { datepicker_target: "startDate" } %>
              <%= hidden_field_tag :end_date, @end_date, data: { datepicker_target: "endDate" } %>
              <input type="text" data-datepicker-target="dateRange" class="form-control" placeholder="Select here your dates..." value="<%= @start_date && @end_date ? "#{@start_date} to #{@end_date}" : "" %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
