<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-5">

<h1>Create a new costume</h1>
<p>Please fill out all the columns and upload photos.</p>
<%= simple_form_for(@costume) do |f|  %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :size %>
          <%= f.input :price_per_day %>
          <%= f.input :thumbnail, as: :file %>
          <%= f.submit %>
        <% end %>

    </div>
  </div>
</div>
