<div class="container mt-4">
  <%= link_to "Back To Overview", costumes_path, class: "link-offset-2 pt-3" %>

  <div class="row row-cols-3 g-lg-s4 my-5">

    <!---------------- part I: column of 5 square pictures --------------->

    <div class="col-md-2 d-flex flex-column align-items-center gap-2 p-0">

        <% if @costume.photos.present? %>
          <% @costume.photos.each_with_index do |photo, index| %>
            <% break if index >= 3 %> <!-- column limited to 5 pictures -->
            <div class="photo-container">
                <%= cl_image_tag photo.key, class: "rounded-5 img-fluid", alt: @costume.name %>
            </div>
          <% end %>
        <% end %>

    </div>

    <!------------------ part II: large middle picture ------------------>

   <div class="col-5 mx-4 position-relative p-0" style="width: 500px;">
    <% if @costume.photos.present? %>
    <%= cl_image_tag @costume.photos.first.key, class: "w-100 h-100 rounded-5", style: "object-fit: cover;", alt: @costume.name %>
    <span class="position-absolute top-0 end-0 badge rounded-pill text-bg-secondary fw-medium bg-white text-dark m-4 p-3 fs-5">
      <%= @costume.price_per_day %>€/Day
    </span>
  <% else %>
    <img src="https://via.placeholder.com/300" class="w-100 h-100 rounded-5" style="object-fit: cover;" alt="No image available">
  <% end %>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= @costume.id %>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= @costume.id %>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <!------------------ part III: text and booking button ------------------>

    <div class="col border border-1 border-black bg-white rounded-5 p-4">
      <div class="card-body d-flex h-100 flex-column justify-content-evenly">
        <div>
          <div>
            <h3 class="card-title pt-4 fw-semibold fs-4"><%= @costume.name %></h3>
            <h5 class="p-1 mt-3 rounded-4"><i class="fa-solid fa-shirt"></i> <strong><%= @costume.size %></strong></h5>
          </div>
          <div class="mt-5">
            <h4 class="border-bottom border-2 border-black pb-2 fw-semibold fs-3"><%= @costume.price_per_day %> €/day</h4>
            <p class="card-text pt-4">Offered by <%= @costume.user.first_name%> <%= @costume.user.last_name %></p>
          </div>
          </div>

          <div class="mt-auto w-100">
          <div class="pb-5">
            <%= render "shared/booking_form", costume: @costume, start_date: @start_date, end_date: @end_date, class: "pb-5" %>
          </div>
            <%= render "shared/modal" %>
          </div>
        </div>
      </div>
    </div>

</div>
