<div class="container">
  <div class="card m-4">
    <div class="row g-0">
      <div class="col-md-12 col-lg-6">
        <% if @costume.photos.present? %>
          <div id="carousel<%= @costume.id %>" class="carousel slide" data-bs-ride="true" data-bs-wrap="false">
            <div class="carousel-inner">
              <% @costume.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= cl_image_tag photo.key, class: "d-block w-100", alt: @costume.name %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= @costume.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= @costume.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="No image available">
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title"><%= @costume.name %></h2>
          <h5 class="fw-normal"><%= @costume.size %></h5>
          <h5 class="fw-normal"><%= @costume.price_per_day %></h5>
          <p class="card-text"><%= @costume.description %></p>
          <%= link_to "Rent this costume", new_costume_booking_path(@costume), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>