<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-5">

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div data-controller="notification">
  <%= f.error_notification %>
</div>

  <div class="form-inputs">
    <%= f.input :first_name,
                autofocus: true,
                required: true %>
    <%= f.input :last_name,
                required: true %>
    <%= f.input :address,
                required: true %>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn-primary my-2" %>
  </div>
<% end %>

<span><%= render "devise/shared/links" %> if youlready have an account</span>

    </div>
  </div>
</div>
