<div class="container my-5">
  <%= link_to "Back", :back %>
  <h1>When do you want to rent <strong><%= @costume.name %></strong>?</h1>
  <%= simple_form_for([@costume, @booking]) do |f| %>

    <div data-controller="datepicker">

      <%= f.input :start_date, as: :hidden, input_html: { data: { datepicker_target: "startDate" } } %>
      <%= f.input :end_date, as: :hidden, input_html: { data: { datepicker_target: "endDate" } } %>

      <div class="form-group">
        <input type="text" data-datepicker-target="dateRange" class="form-control" placeholder="Select your dates...">
      </div>

    </div>
    <%= f.submit "Book Now", class: "btn btn-primary mt-5" %>
  <% end %>
</div>
