<div class="container mb-4">
  <div class="my-5">
    <h1>Account Overview</h1>
  </div>

  <ul class="nav nav-tabs justify-content-start" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link link-underline link-underline-opacity-0" id="fill-tab-1" data-bs-toggle="tab" href="#fill-tabpanel-1" role="tab" aria-controls="fill-tabpanel-1" aria-selected="false"><i class="fa-regular fa-calendar"></i> My Costumes</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link active link-underline link-underline-opacity-0" id="fill-tab-0" data-bs-toggle="tab" href="#fill-tabpanel-0" role="tab" aria-controls="fill-tabpanel-0" aria-selected="true"><i class="fa-solid fa-shirt"></i> My Rentals</a>
    </li>
  </ul>

  <div class="tab-content pt-5" id="tab-content">
    <!------- My Costumes Tab -------->
    <div class="tab-pane" id="fill-tabpanel-1" role="tabpanel" aria-labelledby="fill-tab-1">
      <div class="mx-3">
        <h2>Your Created Costumes</h2>
        <p>These are all costumes you have created for rental</p>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
          <% @costumes.each do |costume| %>
            <div class="col mb-4">
              <%= link_to costume_path(costume, start_date: @start_date, end_date: @end_date), start_date: params[:start_date], end_date: params[:end_date], class: "text-decoration-none text-dark" do %>
                <div class="card h-100 border-0">
                  <div class="image-container position-relative">
                    <% if costume.photos.present? %>
                      <% if costume.photos.count > 1 %>
                        <div id="carousel<%= costume.id %>" class="carousel slide">
                          <div class="carousel-inner">
                            <% costume.photos.each_with_index do |photo, index| %>
                              <div class="carousel-item <%= 'active' if index == 0 %>">
                                <%= cl_image_tag photo.key, class: "d-block w-100 rounded-5 border border-2 border-light", style: "height: 400px; width: 100%; object-fit: cover;" %>
                              </div>
                            <% end %>
                          </div>
                          <button class="carousel-control-prev custom-carousel-control-prev" type="button" data-bs-target="#carousel<%= costume.id %>" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon custom-carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next custom-carousel-control-next" type="button" data-bs-target="#carousel<%= costume.id %>" data-bs-slide="next">
                            <span class="carousel-control-next-icon custom-carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      <% else %>
                        <%= cl_image_tag costume.photos.first.key, class: "card-img-top rounded-5 border border-2 border-light", style: "height: 400px; width: 100%; object-fit: cover;" %>
                      <% end %>
                    <% else %>
                      <%= image_tag 'https://via.placeholder.com/400x300', class: "card-img-top rounded-5 border border-2 border-light", style: "height: 400px; width: 100%; object-fit: cover;" %>
                    <% end %>
                    <span class="position-absolute top-0 end-0 badge rounded-pill text-bg-secondary fw-medium bg-white text-dark m-3 p-3 fs-5 shadow-sm">
                      <%= rand(4.0..5).round(1) %> <i class="fa-solid fa-star rating-star"></i>
                    </span>
                  </div>
                    <div class="card-body px-0">
                      <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title fw-bold mb-0"><%= costume.name %></h4>
                        <div class="d-flex align-items-center">
                          <%= link_to edit_costume_path(costume), class: "link hover-danger-icon mx-2" do %>
                            <i class="fa-solid fa-pen"></i>
                          <% end %>
                          <%= link_to costume_path(costume), method: :delete, class: "link hover-danger-icon mx-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-1">
                        <div class="d-flex align-items-center">
                          <h5 class="mb-0"><strong><%= costume.size %></strong></h5>
                          <h5 class="p-1 mb-0"><i class="fa-solid fa-shirt"></i></h5>
                        </div>
                        <div class="d-flex align-items-center">
                          <h5 class="card-text mt-1"><%= costume.price_per_day %> €/Day</h5>
                        </div>

                      </div>
                    </div>

                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

 <!----------- My Rentals Tab ------------->
    <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
      <div class="mx-3">
        <h2>Your Rented Costumes</h2>
        <p>These are all the costumes that you have rented</p>
        <div class="row mt-5">
          <% @bookings.each do |booking| %>
            <div class="col-md-6 col-lg-4 mb-3">
              <div class="card h-100 rounded-4 custom-card-bg">
                <%# -------------- Card text body ------------------- %>
                <div class="card-body">
                  <div class="d-flex justify-content-between ">
                    <div>
                     <h5 class="card-title fw-bold"><%= link_to booking.costume.name, costume_path(booking.costume), class: "text-decoration-none" %></h5>
                    </div>
                    <div>
                      <%= link_to booking_path(booking), method: :delete, class: "link hover-danger-icon", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush mt-3">
                    <li class="list-group-item">Booking Period: <%= booking.start_date.strftime("%d.%m.%y") %> - <%= booking.end_date.strftime("%d.%m.%y") %></li>
                    <li class="list-group-item">Rented from:  <%= booking.user.first_name %> <%= booking.user.last_name %></li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
