<%= simple_form_for([@costume, @booking]) do |f| %>
  <div data-controller="datepicker">
    <%= f.input :start_date, as: :hidden, input_html: { value: @start_date, data: { datepicker_target: "startDate" } } %>
    <%= f.input :end_date, as: :hidden, input_html: { value: @end_date, data: { datepicker_target: "endDate" } } %>

    <div class="form-group pb-0">
      <input type="text" data-datepicker-target="dateRange" class="form-control bg-white" placeholder="Select here your dates..." value="<%= @start_date && @end_date ? "#{@start_date} to #{@end_date}" : "" %>">
      <%= f.submit "Book Now", class: "booking-button btn btn-primary btn-lg w-100 mt-3 booking-button text-white", data: { bs_toggle: "modal", bs_target: "#confirmation-modal" } %>
    </div>
  </div>
<% end %>
