<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-1 border-bottom border-dark">

  <div class="container-fluid px-5">
    <div class="navbar-nav">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo.png', alt: 'Logo' %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Middle Items -->
    <div class="mx-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/costumes">Find Costumes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Careers</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"  style="padding-left:121px;">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background-color:#fff; border: 1px solid #000;">

              <%= link_to "Add New Costume", new_costume_path, class: "dropdown-item", data: { toggle: "modal", target: "#new-costume" } %>

              <%= link_to "Account Overview", users_index_path, class: "dropdown-item" %>

              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark px-4 py-1" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
