<!DOCTYPE html>
<html>
  <head>
    <title>Costumize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Flatpickr styling line code... ------------------------ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="wrapper">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <% if alert %>
      <div class="alert alert-danger" data-controller="notification"><%= alert %></div>
    <% end %>

    <% if notice %>
      <div class="alert alert-success" data-controller="notification"><%= notice %></div>
    <% end %>
  </body>
</html>
